<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flag listing</title>

    <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="Container">
        <h1>Flagstore</h1>
        <div class="jumbotron">
            <h2>{flag1}</h2>
            <h3>{flag2}</h3>
            <h4>{flag3}</h4>
        </div>
    </div>

</body>
</html>